{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le meilleur réseau d'appartements
{% endblock %}

{% block body %}

    <div class="container">
        <div class="bg-light my-5 px-4 pt-3 pb-1">
            <h1 class="display-3">Bienvenue sur SymBNB ! </h1>
            <p class="lead">
                Nous mettons en relation les voyageurs et les propriétaires qui
                veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la
                location !
            </p>
            <hr class="my-4">
            <p>
                Vous êtes Voyageur ? Et vous voulez voir ou vous pourrez loger pour votre prochain
                déplacement ?
            <p class="lead">
                <a href="{{ path('ads_index') }}" class="btn btn-primary" >voir nos annonces</a>
            </p>
        </div>

        <h2 class="h1 my-5">Nos appartements stars</h2>
        <div class="row">
            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with {'ad':data.annonce} %}
            {% endfor %}
        </div>
        <h2 class="h1 my-5">Nos propriétaires stars !</h2>
        <div class="row">
            {% for data in users %}
                {% set user = data.user %}
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{{ user.firstName }} {{ user.lastName }}</h4>
                            <hr>
                            <div class="card-text">
                                <img src="{{ user.picture }}"
                                     alt="Avatar de {{ user.firstName }} {{ user.lastName }}"
                                     class="float-start me-3">
                                <p style="margin-right: 5px"> {{ user.introduction }}</p>
                                <a href="{{ path('user_show',{"slug":user.slug}) }}"
                                   class="btn btn-success float-end">En savoir plus!</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
